<h2> 실습 </h2>
<h3>URL: profile/이름/나이 </h5>
<h3>1. 이름과 나이를 입력 받아 자기소개 하기!</h3>
<h3>2. 인디언 이름짓기 </h3>
<h3>3. 로또 출력 (정렬과 괄호 없애기)</h3>
<hr>
<h3>출력 >></h3><br><br>
<h2>안녕! 난 불꽃 열정을 가진 [{{ name }}]!</h2>
<h2>겁없는 [{{ age }}]살 이지.</h2>
<p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5ZERWHQ2EJB20X86aEWuLbXJzRn72DX9jN80wgAZMcoGF4mH9&s" alt="펭수" width="320" height="180">
</p>
<br>
<h3>내 인디언 스승인 < {{ i_name }} >님이 이번주 로또를 점지해 줄거야!</h3>
<h3>이번주 로또는 {{ lotto }}!!</h3>
<h4>행운이 있길 바래~ 찡긋</h4>
