.bh {
    font-family: 'Black Han Sans', sans-serif;
    color: darkblue;
}

.jua {
    font-family: 'Jua', sans-serif;
    color: deeppink;
}

.dokdo {
    font-family: 'Dokdo', cursive;
    color: cornflowerblue;
}